@{
    int? userId = ViewData["UserId"] as int? ?? 0;
}
@model List<Product>

 @await Html.PartialAsync("_NavBar")


<section class="home-section "> 
  <h1 class="text-center pt-5">All Items</h1>
  <div class="text center">

      <div class="row row-cols-1">
    @foreach (Product i in Model){
            <div class="card m-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                 
                  @if(i.Images != null &&i.Images.Count != 0){
                    <img src="@i.Images[0].ImageUrl"
                    
                    alt="Trendy Pants and Shoes"
                    class="img-fluid rounded-start"  />
                  }
                  else{
                    <img src="~/images/LogoWhiteBg.png"
                    alt="Trendy Pants and Shoes"
                    class="img-fluid rounded-start"  />
                  }
                    
                    
                
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><a href="products/@i.ProductId">@i.ProductName</a></h5>
                    <p class="card-text">
                      @i.Description
                    </p>
                    <p class="card-text">
                      <small class="text-muted">@i.Seller.FirstName @i.Seller.LastName</small>
                    </p>
                    @if(userId==@i.Seller.UserId){

                    <div class="d-flex ">
                      <form asp-action="EditProduct" asp-controller="Products" asp-route-ProductId="@i.ProductId" method="get">
                        <button class="btn btn-info">Edit</button>
                      </form>
                      <form asp-action="DeleteProduct" asp-controller="Products" asp-route-productId="@i.ProductId" method="post">
                            <button class="btn btn-danger">Delete</button>
                      </form>  
                    </div>
                    }
                  </div>
                </div>
              </div>
            </div>
    }
          </div>
  </div>
    <div class="text-center">
      <a href="/products/new"><button class="btn btn-lg Cbtn">Sell My Product</button>
</a>
    </div>
</section>

